html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxkondo:hover > .hoverkondo{
  background-color: #20B699;
  color: white;
}
.ullistname li{
  width: 45%;
  text-align: center;
  font-size: 14px;
}


.listtitle:hover > .icontatle{
  color: white;
}

/* @media screen and (max-width: 768px) {
  .noneP{
    padding: 0 !important
  }
} */